.custom-tabs .tab {
  cursor: pointer;
  padding: 10px;
  display: inline-block;
  border-bottom: 2px solid transparent;
}

.custom-tabs .tab.active {
  border-bottom: 2px solid #0073aa;
  font-weight: bold;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}
